body
{
  color: purple;
  text-align: center;
  column1
  {
    background-color: #9C6EE6;
  }
  column2
  {
    background-color: black;
  }
  column3
  {
    background-color: #9C6EE6;
  }
}

h1
{
  font-size: 50px;
}

p
{
  font-family: "Times New Roman"
}
