body {
  height: 100%;
  background-image: url("https://media.giphy.com/media/l2JBygxaUuh8aJ6YHn/giphy.gif");
  color: #f9f6f6;
  font-family: times serif;
  border-style: double;
  border-width: thick;
}

.header-text {
  font-size: 50px;
  text-align: center;
}

.left-section {
  width:20%;
  height: 100%;
  float: left;
  height: 100em;
}

.center-section {
  width: 60%;
  float: left;
}

.right-section {
  width: 20%;
  float: left;
}

.gifs {
  width:100%;
  float: left;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.349);
  border-radius: 2%;
  margin-top: 20px;
  text-align: center;
}

.responsive {
  width: 100%;
  height: auto;
  max-height: 900px;
}

.gifs-left {
  float: left;
  width: 60%;
}

.gifs-right {
  float: left;
  width: 40%;
  font-size: 21px;
}

.gifs-right-user {
  width: 50%;
  height: auto;
}

.gifs-right-header {
  margin: 0 0 10px 0;
}